{% extends 'Base.html' %}

{%block content%}
<body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      
      
      <main role="main" class="inner cover">
        <h1 class="cover-heading">Matt's Travel Dashboard</h1>
        
        <p class="lead">This dashboard is for the purpose of visualising expense data accumulated during overseas travel. Please ensure the expense data is in the following form:</p>
           
          </div>

         
            <div class="card"  style=" height: 30rem;" >
             
              <div class="table-cont d-flex p-3 mx-auto flex-column">
            {{ table|safe }}</div> </div><div class="cover-container d-flex h-100  mx-auto flex-column">
           
        <p class="lead">

          <div class="card form; " >
            
          <form method="POST" action="/import" enctype="multipart/form-data">
            {{ form.csrf_token }}
            {{ form.file.label }} {{ form.file }}
            {{ form.submit(class_='btn btn-primary') }}
        </form>
      </div>
        </p>
        
        


      </main><br><br>
      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Website Created by Matthew Bentham</p>
          <p>https://github.com/Mattjben </p>
        </div>
      </footer>
    </div>

{%endblock content%}